<form class="mcs-login-form" ng-submit="login.submit()">
  <div ng-if="login.error">
    {{ login.error }}
  </div>

  <label class="k-inputGroup mcs-login-form-inputGroup">
    <span class="k-inputGroup__item mcs-login-form-inputGroup__label">Username</span>
    <input class="k-inputGroup__item mcs-login-form-item" ng-model="login.username" type="text">
  </label>
  <label class="k-inputGroup mcs-login-form-inputGroup">
    <span class="k-inputGroup__item mcs-login-form-inputGroup__label">Password</span>
    <input class="k-inputGroup__item mcs-login-form-item" ng-model="login.password" type="password" autocomplete="off">
  </label>
  <label class="k-inputGroup mcs-login-form-inputGroup" ng-show="login.totpRequired">
    <span class="k-inputGroup__item mcs-login-form-inputGroup__label">2-Factor Authentication Code</span>
    <input class="k-inputGroup__item mcs-login-form-item" ng-model="login.totpCode" type="text" maxlength="6" autocomplete="off" />
  </label>
  <label class="k-inputGroup mcs-login-form-inputGroup">
    <span class="k-inputGroup__item k-inputGroup__item--block k-inputGroup__item--addon">
      <input ng-model="login.permanent" type="checkbox" />
    </span>
    <span class="k-inputGroup__item">Remember me</span>
  </label>
  <button type="submit" class="k-button">Login</button>
</form>
